@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 2.125in 3.370in;
    /* Portrait CR80 card size */
    margin: 0;
    /* Remove default margins */
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Hide everything except the card */
  .no-print {
    display: none !important;
  }

  .print-card {
    width: 2.125in;
    height: 3.370in;
    box-shadow: none;
    page-break-inside: avoid;
  }

  .print-card img {
    width: 1.5in !important;
    /* Adjust logo size */
    height: auto !important;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
