@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 2.175in 3.325in;
    /* Exact card size */
    margin: 0;
    /* Remove default browser margins */
  }

  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print\:card {
    width: 2.175in !important;
    height: 3.325in !important;
    box-sizing: border-box;
    /* Ensure no cropping */
    padding: 0.1in;
    /* Add slight padding for visual spacing */
  }

  .print\:hidden {
    display: none !important;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
